[user]
	name = Alexey Grigorovich
	email = alexey.grigorovich@clearscale.com

# WSL-specific hacks: use bold for everything
[color "diff"]
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = red bold
	untracked = red bold
[push]
	default = simple
[alias]
	lol = log --oneline --graph --decorate
[credential]
	helper = /mnt/c/Program\\ Files\\ \\(x86\\)/Git\\ Credential\\ Manager/git-credential-manager-core.exe
